@use '../../assets/var';

#lightMode {
	min-width: calc(var.$height * 2);
	display: flex;
	justify-content: center;
	align-items: center;
}

html.dark #lightMode {
	outline: var.$outline var.$darkAccent;
}

html.light #lightMode {
	outline: var.$outline var.$lightAccent;
}

#lightMode > button {
	padding: 0;
	transition: outline-color var.$transition, transform var.$transition, box-shadow var.$transition;
}

#lightMode > button.left {
	transform: translateX(-50%);
}

#lightMode > button.right {
	transform: translateX(50%);	
}
