@use '../../assets/var';

#auth {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: var.$maxWidth;
	padding: var.$pad;
	margin-top: calc(var.$pad * 9);
	margin-bottom: calc(var.$pad * 9);
	gap: var.$pad;
}

html.dark #auth {
	background: var.$darkAccent;
}

html.light #auth {
	background: var.$lightAccent;
}

#auth > img {
	position: absolute;
	top: - calc((var.$height * 2) + (var.$pad * 2.25));
	width: calc(var.$height * 1.75);
	height: calc(var.$height * 1.75);
	align-self: center;
}

#auth > header {
	height: var.$height;
	display: flex;
	justify-content: space-between;
}

#auth > main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var.$pad;
}

#auth > main > button {
	min-width: calc(var.$height * 1.5);
	position: relative;
}

#auth > footer {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: var.$pad;
}

#auth > footer > * {
	font-size: var.$fontSmall;
}

#auth > footer > a,
#auth > main > a {
	align-self: flex-end;
	height: fit-content;
	font-size: var.$fontSmall;
}
