@use '../../assets/var';

#validator {
	position: relative;
	display: flex;
	align-self: flex-start;
	align-items: center;
	color: var.$light;
	font-size: var.$fontSmall;
}

#validator > div {
	position: absolute;
	width: var.$height;
	height: var.$height;
	top: - calc(var.$pad / 15);
	left: 0;
	transform: rotate(45deg);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border-top-right-radius: 2rem;
	border-top-left-radius: 1rem;
	background: var.$primary;
}

#validator > p {
	width: 100%;
	display: flex;
	align-items: center;
	padding: var.$pad;
	padding-top: calc(var.$pad / 1.5);
	padding-bottom: calc(var.$pad / 1.5);
	background: var.$primaryGradient;
	opacity: 100%;
	z-index: 1;
}