@use '../../assets/var';

#addPost {
	width: 100%;
	min-height: calc(100vh - var.$pad * 5);
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: var.$pad;
	gap: var.$pad;
	margin-top: var.$height + var.$pad;
}

html.dark #addPost {
	background: var.$darkAccent;
}

html.light #addPost {
	background: var.$lightAccent;
}

#addPost > form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	gap: var.$pad;
}

#addPost > form > label {
	height: 100%;
	background: transparent;
}

#addPost > form textarea {
	height: auto;
	min-height: 100%;
	overflow: hidden;
	padding: var.$pad;
}

#addPost > form > div {
	width: 100%;
	height: var.$height;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: calc(var.$pad / 1.5);
	gap: var.$pad;
}

html.dark #addPost > form > div {
	border: var.$outline var.$darkAccent;
}

html.light #addPost > form > div {
	border: var.$outline var.$lightAccent;
}

#addPost > form > div > div {
	height: calc(var.$height / 3);
	background: var.$primaryGradient;
}

#addPost > form > div > p {
	height: calc(var.$height / 3);
	width: calc(var.$height / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(var.$pad / 2);
}

#addPost > form button {
	min-width: calc(var.$height * 1.5);
	position: relative;
}

@media screen and (min-width: calc(var.$maxWidth * 1.25)) {
	#addPost {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
	}		
}

@media screen and (min-width: calc(var.$maxWidth * 2.25)) {
	#addPost {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
		margin-right: calc((var.$height * 8) + (var.$pad * 3));
	}		
}