@use '../../assets/var';

#users {
	position: relative;
	width: 100%;
	min-height: calc(100vh - var.$pad * 5);
	display: flex;
	flex-direction: column;
	gap: var.$pad;
	margin-top: calc(var.$height + var.$pad);
}

#users > form {
	padding: var.$pad;
}

#users > form button {
	min-width: var.$height;
}

html.dark #users > form {
	background: var.$darkAccent;
}

html.light #users > form {
	background: var.$lightAccent;
}

.usersList {
	min-height: calc(100vh - (var.$pad * 10));
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: var.$pad;
	gap: var.$pad;
}

html.dark #users > .usersList {
	background: var.$darkAccent;
}

html.light #users > .usersList {
	background: var.$lightAccent;
}

#users #findUser,
#users #up {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: var.$pad;
	padding: 0;
	z-index: 1;
	color: var.$light;
	background: var.$primaryGradient;
}

@media screen and (min-width: calc(var.$maxWidth * 1.25)) {
	#users {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
	}		
}

@media screen and (min-width: calc(var.$maxWidth * 2.25)) {
	#users {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
		margin-right: calc((var.$height * 8) + (var.$pad * 3));
	}		
}
