@use '../../assets/var';

#posts {
	position: relative;
	width: 100%;
	min-height: calc(100vh - (var.$pad * 5));
	display: flex;
	flex-direction: column;
	gap: var.$pad;
	margin-top: calc(var.$height + var.$pad);
}

#posts .fetchMore {
	position: relative;
	align-self: center;
	color: inherit;
}

.postsList {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: var.$pad;
	gap: var.$pad;
}

html.dark .postsList {
	background: var.$darkAccent;
}

html.light .postsList {
	background: var.$lightAccent;
}

#posts > #add {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: var.$pad;
	z-index: 2;
	color: var.$light;
	background: var.$primaryGradient;
}

html.dark .fetchMore {
	background: var.$darkAccent;
}

html.light .fetchMore {
	background: var.$lightAccent;
}

@media screen and (min-width: calc(var.$maxWidth * 1.25)) {
	#posts {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
	}		
}

@media screen and (min-width: calc(var.$maxWidth * 2.25)) {
	#posts {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
		margin-right: calc((var.$height * 8) + (var.$pad * 3));
	}		
}
