@use '../../assets/var';

#postPage {
	position: relative;
	width: 100%;
	min-height: calc(100vh - (var.$pad * 5));
	display: flex;
	flex-direction: column;
	gap: var.$pad;
	margin-top: var.$height + var.$pad;
}

#postPage .fetchMore {
	min-width: calc(var.$pad * 3);
	height: var.$pad;
	position: relative;
	align-self: center;
	color: inherit;
	margin-top: var.$pad;
	padding: 0;
}

#postPage .postsList {
	min-height: calc(100vh - (var.$pad * 5));
}

#postPage div.postsList > div.comments {
	min-height: 9rem;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: end;
}

#postPage div.postsList > div.comments > h2 {
	align-self: start;
	margin-bottom: var.$pad;
}

@media screen and (min-width: calc(var.$maxWidth * 1.25)) {
	#postPage {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
	}		
}

@media screen and (min-width: calc(var.$maxWidth * 2.25)) {
	#postPage {
		margin-left: calc((var.$height * 6) + (var.$pad * 3));
		margin-right: calc((var.$height * 8) + (var.$pad * 3));
	}		
}
