@use '../../assets/var';

#loading {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var.$pad / 4);
}

html.dark #loading {
	border: var.$outline var.$darkAccent;
}

html.light #loading {
	border: var.$outline var.$lightAccent;
}

div#loading.onlyComponent {
	position: fixed;
}

#loading > div {
	width: calc(var.$pad / 2);
	height: calc(var.$pad * 1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	animation: 1.5s infinite loadingBar ease;
	transform: translateY(-0.2rem);
	border-radius: 10rem;
}

html.dark #loading > div {
	background: var.$light;
}

html.light #loading > div {
	background: var.$darkAccent;
}

#loading > div:nth-of-type(1) {
	animation-delay: 100ms;
}

#loading > div:nth-of-type(2) {
	animation-delay: 350ms;
}

#loading > div:nth-of-type(3) {
	animation-delay: 600ms;
}

@keyframes loadingBar {
	0% {
		transform: translateY(-0.2rem);
	} 50% {
		transform: translateY(0.2rem);
	} 100% {
		transform: translateY(-0.2rem);
	}
}