@use '../../assets/var';

div#loading {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3px;
	background: inherit;
}

html.dark div#loading {
	background: var.$darkAccent;
}

html.light div#loading {
	background: var.$lightAccent;
}

button div#loading.gradient {
	background: var.$primaryGradient;	
}

div#loading.transparent {
	background: inherit;
}

div#loading.onlyComponent {
	position: fixed;
	background: transparent;
}

div#loading > div {
	width: calc(var.$pad / 5);
	height: calc(var.$pad / 1.5);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	animation: 1s infinite loadingBar ease;
	transform: translateY(-0.2rem);
	border-radius: 10rem;
}

html.dark div#loading > div {
	background: var.$light;
}

html.light div#loading > div {
	background: var.$darkAccent;
}

#loading > div:nth-of-type(1) {
	animation-delay: 100ms;
}

#loading > div:nth-of-type(2) {
	animation-delay: 350ms;
}

#loading > div:nth-of-type(3) {
	animation-delay: 600ms;
}

@keyframes loadingBar {
	0% {
		transform: translateY(-0.2rem);
	} 50% {
		transform: translateY(0.2rem);
	} 100% {
		transform: translateY(-0.2rem);
	}
}