@use '../../assets/var';

#navReturn {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: calc(var.$height + (var.$pad * 2));
	padding: var.$pad;
	gap: var.$pad;
	z-index: 1;
}

html.dark #navReturn {
	background: var.$dark;
}

html.light #navReturn {
	background: var.$light;
}

#navReturn > form {
	width: 100%;
}

#navReturn > button {
	padding: 0;
	color: inherit;
	background: transparent;
}