@use '../../assets/var';

.postCard {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: var.$pad;
	gap: var.$pad;
}

html.dark .postCard {
	background: var.$darkAccent;
}

html.light .postCard {
	background: var.$lightAccent;
}

.postCard > header {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: var.$pad;
	padding: calc(var.$pad / 3);
	color: inherit;
	background: transparent;
}

.postCard > header > a {
	height: fit-content;
	border-radius: 10rem;
}

.postCard main {
	display: flex;
	word-break: break-all;
	flex: 1;
	margin-left: calc(var.$height + var.$pad);
}

.postCard footer {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	align-self: flex-end;
	flex-wrap: wrap;
	gap: var.$pad;
}

.postCard footer button,
.postCard footer a {
	height: calc(var.$height / 1.25);
	padding: 0;
	padding-right: calc(var.$pad / 1.75);
	color: inherit;
	font-size: var.$fontSmall;
}

html.dark .postCard footer button,
html.dark .postCard footer a {
	background: var.$darkBright;
}

html.light .postCard footer button,
html.light .postCard footer a {
	background: var.$lightBright;
}

.postCard footer button svg,
.postCard footer a svg {
	height: calc(var.$height / 1.25);
	width: calc(var.$height / 1.25);
	padding: calc(var.$pad / 1.75);
}

.postCard footer button.liked svg,
.postCard footer button.disliked svg {
	color: var.$primary;
}


.postCardSmall {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var.$pad;
	padding: var.$pad;
}

html.dark .postCardSmall {
	background: var.$darkBright;
}

html.light .postCardSmall {
	background: var.$lightBright;
}

.postCardSmall > footer {
	width: 100%;
	display: flex;
	justify-content: end;
	gap: var.$pad;
}

.postCardSmall footer > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	padding-right: calc(var.$pad / 1.75);
	color: inherit;
	font-size: var.$fontSmall;
}

.postCardSmall footer div svg {
	height: calc(var.$height / 1.25);
	width: calc(var.$height / 1.25);
	padding: calc(var.$pad / 1.75);
}
