@use '../../assets/var';

div.side {
	position: fixed;
	overflow: scroll;
	height: calc(100% - (var.$height * 3) + (var.$pad * 4));
	top: calc(var.$height + var.$pad);
	padding-top: var.$pad;
	padding-bottom: var.$pad;
	border-radius: 0;
}

div.side.left {
	display: none;
	left: var.$pad;
	width: calc((var.$height * 6) + (var.$pad * 2));
}

div.side.right {
	display: none;
	right: var.$pad;
	width: calc((var.$height * 8) + (var.$pad * 2));
}

div.side > div {
	width: 100%;
	height: 20rem;
	margin-bottom: var.$pad;
}

html.dark div.side > div {
	background: var.$darkAccent;
}

html.light div.side > div {
	background: var.$lightAccent;
}

div.side > div:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: calc(var.$maxWidth * 1.25)) {
	div.side.left {
		display: block;
	}
}

@media screen and (min-width: calc(var.$maxWidth * 2.25)) {
	div.side.left {
		display: block;
	}

	div.side.right {
		display: block;
	}
}
