@use '../../assets/var';

.users {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: var.$pad;
	gap: var.$pad;
}

html.dark .users {
	background: var.$darkAccent;
}

html.light .users {
	background: var.$lightAccent;
}

.users > h1 {
	padding: 0;
}

.userCard {
	height: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var.$pad;
	color: inherit;
	background: transparent;
}

html.dark .userCard {
	background: var.$darkBright;
}

html.light .userCard {
	background: var.$lightBright;
}

.userCard > header {
	display: flex;
	align-items: center;
	gap: var.$pad;
}

.userCard > header > div {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.userCard > footer {
	display: flex;
	gap: var.$pad;
}

.userCardSmall {
	height: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var.$pad;
	color: inherit;
}

html.dark .userCardSmall {
	background: var.$darkBright;
}

html.light .userCardSmall {
	background: var.$lightBright;
}

.userCardSmall > header {
	display: flex;
	align-items: center;
	gap: var.$pad;
}

.userCardSmall > header > div {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.userCardSmall > footer {
	display: flex;
	gap: var.$pad;
}

