@use './reset.scss';

$height: 2.5rem;
$heightSmall: 1.75rem;
$widthLarge: 35rem;
$widthExtraLarge: 57.5rem;
$widthMedium: 25rem;
$width: 5rem;

$pad: 1rem;
$padSVG: 0.75rem;

$padLarge: 1.75rem;
$padSmall: 0.5rem;

$round: 0.5rem;

$fontLarge: 1.25rem;
$font: 1rem;
$fontSmall: 0.75rem;

$anim: 0.4s ease;

[data-theme='dark'] {
  --color: white;
  --primary: #5735ff;
  --background: rgba(0, 0, 0, 1);
  --backgroundBlur: rgba(0, 0, 0, 0.65);
  --outline: 0.075rem solid rgb(50, 50, 60);
  --background-outline: rgb(50, 50, 60);
  --outline-shadow: 0 0 0 0.15rem #5735ff;
}

[data-theme='light'] {
  --color: black;
  --primary: #5735ff;
  --background: white;
  --backgroundBlur: rgba(255, 255, 255, 0.65);
  --outline: 0.075rem solid rgb(150, 150, 160);
  --background-outline: rgb(150, 150, 160);
  --outline-shadow: 0 0 0 0.15rem #5735ff;
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: $font;
  font-weight: 500;
  outline-offset: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0.075rem solid transparent;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--color);
  background: var(--background);
}

#root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: $pad;
  min-height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: $fontLarge;
}

p {
  font-size: $fontSmall;
  opacity: 50%;
}

svg {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  padding: $padSVG;
  border-radius: $round;
  object-fit: cover;
}

img {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  border-radius: $round;
  object-fit: cover;
  object-position: 0% 0%;
}

.imgUser {
  min-width: 100%;
  max-width: 100%;
  min-height: 12rem;
  max-height: 12rem;
  display: block;
  margin: auto;
  object-fit: cover;
}

.imgCon {
  position: relative;
  overflow: hidden;
  border-radius: $round;
}

.imgCon > img:last-of-type {
  transform: translate(0%);
  width: auto;
  z-index: 1;
}

.imgCon > img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  filter: blur(1rem);
  object-position: 50% 50%;
  object-fit: cover;
  opacity: 75%;
}

.imgPost {
  max-width: 100%;
  max-height: 20rem;
  display: block;
  margin: auto;
}
