@use './reset.scss';

$height: 2.25rem;
$heightSmall: 1.5rem;
$widthLarge: 45rem;
$widthExtraLarge: 75rem;
$widthMedium: 25rem;
$width: 5rem;

$pad: 1rem;
$padSVG: 0.6rem;

$padLarge: 1.5rem;
$padSmall: 0.4rem;

$round: 0.1rem;

$fontLarge: 1.25rem;
$font: 1rem;
$fontSmall: 0.75rem;

$anim: 0.4s ease;

[data-theme='dark'] {
  --color: white;
  --primary: linear-gradient(45deg, #235fbe, #6543e0);
  --primaryOutline: #235fbe;
  --background: rgba(0, 0, 0, 1);
  --backgroundBlur: rgba(0, 0, 0, 0.75);
  --outline: 0.075rem solid rgb(50, 50, 60);
  --background-outline: rgb(50, 50, 60);
  --background-shade: rgba(30, 30, 38, 0.6);
  --outline-shadow: 0 0 0 0.15rem #235fbe;
  --opacity: 85%;
}

[data-theme='light'] {
  --color: black;
  --primary: linear-gradient(45deg, #226de6, #6a43f7);
  --primaryOutline: #226de6;
  --background: rgb(255, 255, 255);
  --backgroundBlur: rgba(255, 255, 255, 0.75);
  --outline: 0.075rem solid rgb(150, 150, 160);
  --background-outline: rgb(150, 150, 160);
  --background-shade: rgba(235, 235, 240, 0.6);
  --outline-shadow: 0 0 0 0.15rem #226de6;
  --opacity: 85%;
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: $font;
  font-weight: 500;
  outline-offset: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0.075rem solid transparent;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--color);
  background: var(--background);
}

#root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: $pad;
  min-height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: $fontLarge;
}

p {
  font-size: $fontSmall;
  opacity: 50%;
}

svg {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  padding: $padSVG;
  border-radius: $round;
  object-fit: cover;
}

img {
  min-width: $height;
  max-width: $height;
  min-height: $height;
  max-height: $height;
  border-radius: $round;
  object-fit: cover;
  object-position: center;
  outline: var(--outline);
}
