@use '../App.scss';

#auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: App.$pad;
  padding-top: calc(App.$padSmall * 7);
  z-index: 1;
}

#auth > form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: App.$widthMedium;
  padding: App.$padLarge;
  gap: App.$padLarge;
  border-radius: App.$round;
  outline: var(--outline);
  background: var(--background-shade);
}

#auth > form > header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#auth > form > header > img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: - calc(App.$height + App.$pad);
  min-width: calc(App.$height + App.$pad);
  min-height: calc(App.$height + App.$pad);
  outline: none;
  border-radius: 0.25rem;
}

#auth > form > main {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
  text-align: end;
}

#auth > form > main > button {
  margin-top: App.$pad;
}

#auth > form > main > p {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: var(--danger);
  padding-left: App.$pad;
  padding-right: App.$pad;
  opacity: 100%;
}

#auth > form > main > a {
  align-self: end;
}

#auth > form > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: App.$padSmall;
}
