@use '../App.scss';

#createPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  gap: App.$pad;
  padding: App.$pad;
  padding-top: calc((App.$height) + (App.$padSVG * 2));
  border-radius: App.$round;
}

#createPost > div {
  max-width: App.$widthMedium;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: App.$pad;
  padding: App.$pad;
  border-radius: App.$round;
  border: var(--outline);
  background: var(--background-shade);
}

#createPost > div > div {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  max-width: App.$widthMedium;
  gap: App.$pad;
}

#createPost textarea,
#createPost label {
  outline: var(--outline);
  background: var(--background-shade-extra);
}

#createPost > div > div:first-of-type {
  min-height: 10rem;
  border: 0.075rem solid transparent;
}

#createPost > div > div:last-of-type {
  flex-wrap: wrap;
}

#createPost > div > div > div:first-of-type {
  width: 100%;
}

#createPost > div > div > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: App.$height;
  height: App.$height;
  border-radius: App.$round;
  color: white;
  background: var(--primary);
}

#createPost > div > div > button {
  flex: 1;
}

@media screen and (min-width: App.$widthLarge) {
  #createPost {
    padding-left: calc((App.$height * 6) + (App.$padSVG * 7));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #createPost {
    padding-left: 0;
    padding-right: calc((App.$height * 1) + (App.$padSVG * 2.5));
  }
}
