@use '../App.scss';

#friendPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-bottom: App.$pad;
  padding-top: calc(App.$height + (App.$padSVG * 2));
}

#friendPage > a {
  position: fixed;
  bottom: App.$pad;
  right: App.$pad;
  z-index: 1;
}

#friendPage > #friendPageCon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: App.$widthMedium;
  height: 100%;
  border-radius: App.$round;
}

#friendPage > form {
  display: flex;
  gap: App.$pad;
  width: 100%;
  padding: App.$pad;
  padding-bottom: App.$pad;
  padding-top: 0.15rem;
  overflow: visible;
  border-radius: App.$round;
  max-width: App.$widthMedium;
  background: var(--background);
}

#friendPage > form > div {
  flex: 1;
  width: 100%;
  overflow: visible;
  border-radius: App.$round;
}

#friendPage .empty {
  padding-left: App.$padLarge;
  padding-right: App.$padLarge;
}

@media screen and (min-width: App.$widthMedium) {
  #friendPage > form {
    padding-left: 0;
    padding-right: 0;
  }

  #friendPage .empty {
    padding: 0;
  }
}

@media screen and (min-width: App.$widthLarge) {
  #friendPage {
    padding-left: calc((App.$height * 6) + (App.$padSVG * 3));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #friendPage {
    padding-left: 0;
    padding-right: calc((App.$height * 1) + (App.$padSVG * 2));
  }
}
