@use '../App.scss';

#friendPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: App.$pad;
  padding-top: calc((App.$height) + (App.$padSVG * 2));
}

#friendPage > div > a {
  position: fixed;
  bottom: App.$pad;
  right: App.$pad;
  z-index: 1;
}

#friendPage > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: App.$widthMedium;
  border-radius: App.$round;
  padding: App.$pad;
  padding-top: 0.15rem;
  gap: App.$pad;
  flex: 1;
}

#friendPage > div > #friendPageCon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: App.$widthMedium;
  height: 100%;
  gap: App.$pad;
  border-radius: App.$round;
}

#friendPage > div > form {
  display: flex;
  gap: App.$pad;
  width: 100%;
  overflow: visible;
  border-radius: App.$round;
  max-width: App.$widthMedium;
  background: var(--background);
}

#friendPage > div > form > div {
  flex: 1;
  width: 100%;
  overflow: visible;
  border-radius: App.$round;
  background: var(--background-shade);
}

@media screen and (min-width: App.$widthMedium) {
  #friendPage > div {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: App.$widthLarge) {
  #friendPage {
    padding-left: calc((App.$height * 6) + (App.$padSVG * 5.5));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #friendPage {
    padding-left: 0;
    padding-right: calc((App.$height * 1) + (App.$padSVG * 2.5));
  }
}
