@use '../App.scss';

#home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding-top: calc((App.$height) + (App.$padSVG * 2));
}

#home > a {
  position: fixed;
  bottom: App.$pad;
  right: App.$pad;
  z-index: 1;
}

@media screen and (min-width: App.$widthLarge) {
  #home {
    padding-left: calc((App.$height * 6) + (App.$padSVG * 5.5));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #home {
    padding-left: 0;
    padding-right: calc((App.$height * 1) + (App.$padSVG * 2.5));
  }
}
