@use '../App.scss';

#home {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
  width: 100%;
  min-height: 100%;
  margin-top: calc(App.$height + (App.$padSmall * 2));
}

#home > a {
  position: fixed;
  bottom: App.$pad;
  right: App.$pad;
  z-index: 1;
}

@media screen and (min-width: App.$widthLarge) {
  #home {
    margin-left: calc(App.$height * 6);
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #home {
    margin-right: calc(App.$height * 8 + App.$pad);
  }
}
