@use '../App.scss';

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: App.$pad;
  gap: App.$pad;
  width: 100%;
  min-height: 100%;
  padding: App.$pad;
  padding-top: calc(App.$height * 2);
  background: var(--background);
}

#home > a {
  position: fixed;
  bottom: App.$pad;
  right: App.$pad;
  z-index: 1;
}

@media screen and (min-width: App.$widthLarge) {
  #home {
    padding-left: calc((App.$height * 7 + (App.$padSVG)));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #home {
    padding-right: calc((App.$height * 2 + (App.$padSVG * 3)));
    padding-left: 0;
  }
}
