@use '../App.scss';

#postPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: App.$pad;
  padding-top: calc((App.$height) + (App.$padSVG));
}

@media screen and (min-width: App.$widthLarge) {
  #postPage {
    padding-left: calc((App.$height * 6) + (App.$padSVG * 5.5));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #postPage {
    padding-left: 0;
    padding-right: calc((App.$height * 1) + (App.$padSVG * 2.5));
  }
}
