@use '../App.scss';

#postPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: App.$pad;
  padding: App.$pad;
  padding-top: calc(App.$height * 2);
  background: var(--background);
}

@media screen and (min-width: App.$widthLarge) {
  #postPage {
    padding-left: calc((App.$height * 7 + (App.$padSVG)));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #postPage {
    padding-right: calc((App.$height * 2 + (App.$padSVG * 3)));
    padding-left: 0;
  }
}
