@use '../App.scss';

#postPage {
  width: 100%;
  margin-top: calc(App.$height + (App.$pad * 2));
  min-height: 100%;
}

@media screen and (min-width: App.$widthLarge) {
  #postPage {
    margin-left: calc(App.$height * 6);
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #postPage {
    margin-right: calc(App.$height * 8);
  }
}
