@use '../App.scss';

#userPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: App.$pad;
  margin-top: calc(App.$height + (App.$padSVG * 2));
}

#userPage > #userPageCon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  gap: App.$pad;
  padding-bottom: App.$pad;
  border-bottom: var(--outline);
}

#userPage > #userPageCon > div {
  position: absolute;
  top: - calc(App.$pad);
  left: - calc(App.$pad);
  height: calc(App.$height * 3);
  width: calc(100% + (App.$pad * 2));
  background: var(--background-shade);
}

#userPage > #userPageCon > div > img {
  display: none;
}

#userPage > #userPageCon > header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  min-width: 100%;
  gap: App.$pad;
  border-radius: App.$round;
}

#userPage > #userPageCon > header > img {
  min-width: calc(App.$height * 4);
  min-height: calc(App.$height * 4);
  background: var(--background);
}

#userPage > #userPageCon button {
  padding: App.$pad;
}

#userPage > #userPageCon > main {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
}

#userPage > #userPageCon > main button {
  width: fit-content;
  text-align: start;
  min-width: calc(App.$height * 2);
}

#userPage > #userPageCon > main > footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: App.$pad;
  border-radius: App.$round;
}

#userPage > #userPageCon > main > footer > div {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: App.$padSmall;
  border-radius: App.$round;
}

#userPage > #userPageCon > main > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: App.$padSmall;
}

#userPage > #userPageCon > main > div > button {
  padding: App.$pad;
}

@media screen and (min-width: App.$widthLarge) {
  #userPage {
    margin-left: calc(App.$height * 8);
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #userPage {
    margin-right: calc(App.$height * 12 + App.$pad);
  }
}
