@use '../App.scss';

#userPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: App.$pad;
  padding: App.$pad;
  min-height: 100%;
  padding-bottom: App.$pad;
  padding-top: calc(App.$height + (App.$padSVG * 2));
}

#userPage > #userPageCon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: App.$widthMedium;
  gap: App.$pad;
  padding: App.$pad;
  border-radius: App.$round;
  background: var(--background-shade);
}

#userPage .empty {
  padding-top: App.$pad;
}

#userPage > #userPageCon > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  min-width: 100%;
  gap: App.$pad;
  border-radius: App.$round;
}

#userPage > #userPageCon > header > div {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(App.$height * 3.5);
  width: 100%;
  overflow: hidden;
  border-radius: App.$round;
}

#userPage > #userPageCon > header > div > img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(3rem);
  opacity: 75%;
  object-position: center;
  object-fit: cover;
  transform: scale(3);
}

#userPage > #userPageCon > header > img {
  min-width: calc(App.$height * 4);
  min-height: calc(App.$height * 4);
  background: var(--background-shade);
  z-index: 1;
}

#userPage > #userPageCon > main {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
}

#userPage > #userPageCon > main > footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: App.$pad;
  border-radius: App.$round;
}

#userPage > #userPageCon > main > footer > div {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: App.$padSmall;
  border-radius: App.$round;
}

#userPage > #userPageCon > main > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: App.$padSmall;
}

#userPage > #userPageCon > main > .friends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: App.$pad;
}

#userPage > #userPageCon > main > .friends > p {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  flex: 1;
  min-width: calc(App.$height * 3);
  max-height: App.$height;
  border-radius: App.$round;
  background: var(--background);
  outline: var(--outline);
  text-align: center;
}

#userPage > #userPageCon > main > .friends > button {
  flex: 1;
  min-width: fit-content;
}

@media screen and (min-width: App.$widthLarge) {
  #userPage {
    padding-left: calc((App.$height * 6) + (App.$padSVG * 7));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #userPage {
    padding-left: 0;
    padding-right: calc((App.$height * 1) + (App.$padSVG * 2.5));
  }
}
