@use '../../App.scss';

.commentCard {
  position: relative;
  display: flex;
  gap: App.$pad;
}

.commentCard > header {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentCard > header > img {
  min-width: App.$heightSmall;
  max-width: App.$heightSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
}

.commentCard > header > button:first-of-type {
  position: absolute;
  top: calc(App.$heightSmall + (App.$pad * 3));
}

.commentCard > header > button:last-of-type {
  position: absolute;
  bottom: 0;
}

.commentCard > header > button {
  min-width: App.$heightSmall;
  max-width: App.$heightSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
  background: var(--background);
  z-index: 1;
}

.commentCard > header > button svg {
  min-width: App.$heightSmall;
  max-width: App.$heightSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
  padding: App.$padSmall;
}

.commentCard > header > p {
  height: 100%;
  width: 0.1rem;
  background-color: var(--background-outline);
}

.commentCard > a {
  position: absolute;
  width: 100%;
  height: calc(100% - (App.$height + App.$pad));
  z-index: 1;
}

.commentCard > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: App.$pad;
}

.commentCard > a,
.commentCard > a:hover,
.commentCard > a:focus {
  outline: 0;
  box-shadow: none;
}

.commentCard > div > header {
  display: flex;
  align-items: center;
  height: App.$heightSmall;
}

.commentCard > div > header > div {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 0.2rem;
}

.commentCard > header > a {
  z-index: 1;
}

.commentCard > header > a > img {
  min-width: App.$heightSmall;
  max-width: App.$heightSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
}

.commentCard > div > main {
  display: flex;
  flex-direction: column;
}

.commentCard > div > main > div {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 10rem;
  border-radius: App.$round;
}

.commentCard > div > main > div > img:first-of-type {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 50%;
  filter: blur(1rem);
  -webkit-filter: blur(1rem);
}

.commentCard > div > main > div > img:last-of-type {
  object-fit: contain;
  min-width: none;
  width: 100%;
  max-width: fit-content;
  min-height: none;
  height: auto;
  max-height: 30rem;
  z-index: 0;
}

.commentCard > div > footer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: App.$pad;
}

.commentCard > div > form {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
  align-items: end;
}

.commentCard > div > form button {
  padding: App.$pad;
}
