@use '../../App.scss';

.userCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: App.$widthMedium;
  padding: App.$pad;
  background: var(--background);
  border-bottom: var(--outline);
}

.userCard:first-child {
  padding-top: 0;
}

.userCard > a {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.userCard > header {
  display: flex;
  align-items: center;
  gap: App.$pad;
}

.userCard > header > a {
  z-index: 1;
}

.userCard > header > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.userCard > footer {
  display: flex;
}

.userCard > footer > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: App.$pad;
  margin-top: App.$pad;
}

.userCard > footer > div > button {
  width: calc((App.$height * 2) + App.$padLarge);
}

@media screen and (min-width: App.$widthMedium) {
  .userCard {
    padding-left: 0;
    padding-right: 0;
  }
}
