@use '../../App.scss';

.userCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: App.$widthMedium;
  padding: App.$pad;
  border-radius: App.$round;
  background: var(--background-shade);
}

.userCard > a {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.userCard > div {
  position: absolute;
  right: App.$pad;
  border-radius: App.$round;
  background: var(--background-shade);
}

.userCard > header {
  display: flex;
  align-items: center;
  gap: App.$pad;
}

.userCard > header > a {
  z-index: 1;
}

.userCard > header > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: calc(App.$padSmall / 2);
}

.userCard > header > div > div {
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
  gap: calc(App.$padSmall / 2);
}

.userCard > svg {
  position: absolute;
  top: App.$pad;
  right: App.$pad;
}

.userCard > footer {
  display: flex;
}

.userCard > footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  width: 100%;
  gap: App.$pad;
  margin-top: App.$pad;
}

.userCard > footer > div > button {
  width: calc((App.$height * 2) + App.$padLarge);
}
