@use '../App.scss';

button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: App.$height;
  max-height: App.$height;
  border-radius: App.$round;
  padding: 0;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  transition:
    box-shadow App.$anim,
    outline-color App.$anim;
}

button > p {
  opacity: 100%;
  padding-right: App.$padSVG;
}

.buttonDanger {
  color: white;
  background: var(--danger);
}

.buttonSuccess {
  color: white;
  background: var(--success);
}

button.buttonNotification {
  flex-direction: row-reverse;
  opacity: 100%;
}

button.buttonNotification > div {
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: center;
  flex: 1;
  height: App.$height;
}

button.buttonNotification > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: calc(App.$heightSmall / 1.5);
  height: calc(App.$heightSmall / 1.5);
  border-radius: App.$round;
  background: var(--danger);
  color: white;
  opacity: 100%;
  animation: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) pop;
}

button.buttonName {
  padding-right: App.$pad;
}

.buttonMore {
  width: 100%;
  max-width: App.$widthMedium;
  border-radius: App.$round;
  font-size: App.$fontSmall;
  outline: none;
  box-shadow: none;
  background: var(--background-shade);
}

.buttonMore > button {
  box-shadow: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: App.$fontSmall;
  outline: none;
  box-shadow: none;
  background: var(--background-shade);
}

.buttonMore > button:hover {
  outline: none;
  box-shadow: none;
}

button.buttonFlat {
  overflow: visible;
  min-height: App.$pad;
  max-height: App.$pad;
}

button.buttonFlat > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: App.$padSmall;
}

button.buttonSmall {
  display: flex;
  padding: 0;
  padding-right: App.$padSmall;
  min-width: App.$height + App.$padSmall;
  max-width: App.$height + App.$padSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
  font-size: App.$fontSmall;
}

button.buttonSmall > svg {
  min-width: App.$heightSmall;
  max-width: App.$heightSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
  padding: App.$padSmall;
}

button.buttonShade {
  width: 100%;
  max-width: App.$widthMedium;
  background: var(--background);
}

button.buttonShadeExtra {
  max-width: App.$widthMedium;
  background: var(--background);
}

button.buttonLarge {
  display: flex;
  flex-direction: column;
  padding-bottom: App.$padSVG;
  min-width: none;
  min-height: fit-content;
  max-height: fit-content;
  font-size: App.$fontSmall;
}

button.buttonLarge > svg {
  min-width: none;
  max-width: App.$height;
  min-height: App.$height;
  max-height: App.$height;
  padding: App.$padSVG;
}

@media (pointer: fine) {
  button:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

button:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}

button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.buttonPrimary {
  color: white;
  background: var(--primary);
}

.buttonPrimarySVG svg {
  color: var(--primaryOutline);
}

div.buttonTheme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(App.$height * 2);
  height: calc(App.$height);
  overflow: hidden;
  border-radius: App.$round;
  padding: 0;
  margin: 0;
  background: var(--primary);
}

div.buttonTheme > button {
  position: absolute;
  transition:
    transform App.$anim,
    box-shadow App.$anim,
    outline-color App.$anim;
  min-width: calc(App.$height / 1.25);
  max-width: calc(App.$height / 1.25);
  min-height: calc(App.$height / 1.25);
  max-height: calc(App.$height / 1.25);
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  background: var(--background-shade);
}

div.buttonTheme > button.dark {
  transform: translateX(calc(App.$height / 2));
}

div.buttonTheme > button.light {
  transform: translateX(- calc(App.$height / 2));
}
