@use '../App.scss';

button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: App.$height;
  max-height: App.$height;
  border-radius: App.$round;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition:
    box-shadow App.$anim,
    outline-color App.$anim;
}

button.buttonOutline {
  outline: var(--outline);
}

button.buttonName {
  padding-right: App.$pad;
}

button.buttonSmall {
  display: flex;
  padding: 0;
  padding-right: App.$padSmall;
  min-width: App.$height + App.$padSmall;
  max-width: App.$height + App.$padSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
  font-size: App.$fontSmall;
}

button.buttonSmall > svg {
  min-width: App.$heightSmall;
  max-width: App.$heightSmall;
  min-height: App.$heightSmall;
  max-height: App.$heightSmall;
  padding: App.$padSmall;
}

button.buttonLarge {
  display: flex;
  flex: 1;
  padding: 0;
  padding-right: App.$pad;
  padding-left: 0.2rem;
  min-width: none;
  min-height: App.$height;
  max-height: App.$height;
  font-size: App.$fontSmall;
}

button.buttonLarge > svg {
  min-width: none;
  max-width: App.$height;
  min-height: App.$height;
  max-height: App.$height;
  padding: App.$padSVG;
}

button:hover,
button:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}

.buttonPrimary {
  color: white;
  background: var(--primary);
}

.buttonPrimarySVG svg {
  color: var(--primary);
}

div.buttonTheme {
  display: flex;
  justify-content: center;
  width: calc(App.$height * 2);
  border-radius: App.$round;
  outline: var(--outline);
}

div.buttonTheme > button {
  transition:
    transform App.$anim,
    box-shadow App.$anim,
    outline-color App.$anim;
  color: white;
  background: var(--primary);
}

div.buttonTheme > button.dark {
  transform: translateX(-50%);
}

div.buttonTheme > button.light {
  transform: translateX(50%);
}
