@use '../App.scss';

div.input {
  position: relative;
  min-height: App.$height;
  max-height: App.$height;
}

div.textarea {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
  max-height: 100%;
}

label {
  display: flex;
  min-height: App.$height;
  max-height: App.$height;
  border-radius: App.$round;
}

div.textarea > label {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

label > input {
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: App.$height;
  border-radius: App.$round;
  outline: var(--outline);
  background: var(--background-shade-extra);
  transition:
    box-shadow App.$anim,
    outline App.$anim;
}

label > textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  padding: App.$pad;
  border-radius: App.$round;
  outline: var(--outline);
  background: var(--background-shade-extra);
  transition:
    box-shadow App.$anim,
    outline App.$anim;
}

div.input > button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

label > input:focus,
label > textarea:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}

@media (pointer: fine) {
  label.file:hover,
  label > input:hover,
  label > textarea:hover {
    outline: var(--outline);
    box-shadow: var(--outline-shadow);
  }
}

label > svg {
  z-index: 1;
}

label.file {
  cursor: pointer;
  outline: var(--outline);
  background: var(--background-shade-extra);
  transition:
    box-shadow App.$anim,
    outline App.$anim;
}

label.file:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}

label.file > input {
  display: none;
}

label.file > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  opacity: 50%;
}

label.file > p {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  font-size: App.$font;
}

div.labelPassword {
  position: relative;
  display: flex;
  flex-direction: column;
}

div.labelPassword button {
  position: absolute;
  top: 0;
  right: 0;
}

div.labelPassword input {
  padding-right: App.$height;
}
