@use '../App.scss';

div.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.loading.buttonSmall {
  padding-left: App.$padSmall;
}

.loading > div:first-of-type {
  position: absolute;
  width: calc(App.$pad * 1.25);
  height: calc(App.$pad * 1.25);
  border: 0.2rem solid var(--primary);
  opacity: 50%;
  border-radius: 10rem;
}

.loading.buttonPrimary > div:first-of-type {
  border: 0.2rem solid white;
}

.loading > div:last-of-type {
  position: absolute;
  min-width: calc(App.$pad * 1.25);
  min-height: calc(App.$pad * 1.25);
  border-left: 0.2rem solid transparent;
  border-top: 0.2rem solid var(--primary);
  border-bottom: 0.2rem solid var(--primary);
  border-right: 0.2rem solid var(--primary);
  border-radius: 10rem;
  animation: 1s infinite spinner;
}

.loading.buttonPrimary > div:last-of-type {
  border-left: 0.2rem solid transparent;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  border-right: 0.2rem solid white;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
