@use '../App.scss';

a {
  display: flex;
  width: fit-content;
  text-decoration: none;
  color: var(--primaryOutline);
  border-radius: App.$round;
  transition:
    box-shadow App.$anim,
    outline-color App.$anim;
}

a > div {
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: center;
  flex: 1;
  height: App.$height;
}

a > div > div {
  flex: 1;
}

a > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: calc(App.$heightSmall / 1.5);
  height: calc(App.$heightSmall / 1.5);
  border-radius: App.$round;
  background: var(--danger);
  color: white;
  opacity: 100%;
  animation: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) pop;
}

a.transparent {
  color: inherit;
}

a:hover,
a:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}
