@use '../App.scss';

a {
  display: flex;
  width: fit-content;
  text-decoration: none;
  color: var(--primary);
  border-radius: App.$round;
  transition:
    box-shadow App.$anim,
    outline-color App.$anim;
}

a.transparent {
  color: inherit;
}

a:hover,
a:focus {
  outline: var(--outline);
  box-shadow: var(--outline-shadow);
}
