@use '../App.scss';

.post {
  display: flex;
  flex-direction: column;
  min-height: App.$height + (App.$pad * 2);
  width: 100%;
  padding-bottom: App.$pad;
  gap: App.$pad;
  border-bottom: var(--outline);
}

.post > header {
  display: flex;
  align-items: center;
  gap: App.$pad;
}

.post > main {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
}

.post > footer {
  display: flex;
  justify-content: end;
  gap: App.$pad;
}
