@use '../App.scss';

#side {
  position: fixed;
  display: none;
  overflow: scroll;
  top: 0;
  padding: App.$pad;
  padding-left: 0;
  padding-top: calc((App.$height) + (App.$padSVG * 2));
  width: calc(App.$height * 9);
  min-height: 100%;
  height: 100%;
}

#side > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  gap: App.$pad;
}

#side > div > div {
  min-width: 100%;
  min-height: 10rem;
  flex: 1;
  height: 100%;
  border-radius: App.$round;
  background: var(--background-shade);
}

#sideUser {
  position: fixed;
  display: none;
  overflow: scroll;
  top: 0;
  padding-bottom: App.$pad;
  padding-top: calc((App.$height) + (App.$padSVG * 2));
  width: calc(App.$height * 6 + (App.$pad * 2));
  min-height: 100%;
  height: 100%;
}

#sideUser > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  gap: App.$pad;
  padding: App.$pad;
  border-radius: App.$round;
  background: var(--background-shade);
}

#sideUser > div > header {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
}

#sideUser > div > header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sideUser > div > header > div > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: App.$pad;
}

#sideUser > div > main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#sideUser > div > main > ul {
  display: flex;
  flex-direction: column;
  gap: App.$pad;
  flex: 1;
}

#sideUser > div > main > ul > li {
  display: flex;
  justify-content: end;
}

#sideUser > div > main > ul > li:last-of-type {
  display: flex;
  justify-content: end;
  align-items: end;
  flex: 1;
  padding-bottom: 0.1rem;
}

#sideUser > div > main > ul > li > button,
#sideUser > div > main > ul > li > a {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: App.$widthLarge) {
  #sideUser {
    display: flex;
    margin-right: calc((App.$height * 12) + (App.$padSVG * 6.5));
  }
}

@media screen and (min-width: App.$widthExtraLarge) {
  #side {
    display: flex;
    margin-left: calc((App.$height * 22) - (App.$padSVG * 1.5));
  }

  #sideUser {
    display: flex;
    margin-right: calc((App.$height * 21) + (App.$padSVG * 7));
  }
}
